.homepage {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 10px;
}


body {
    background-color: white;
}

h1 {
    color: black;
}

a:hover {
  border-bottom: 2px solid #4286f4;
}

.about {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 10px;
}

.founders {
  word-spacing: 25em;
  border: 1px solid black;
  margin-right:  10px;
}
